
/* Photo by Alex Andrews from Pexels 
URL OF PHOTOGRAPHER: https://www.pexels.com/@alex-andrews-271121?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels
URL OF IMAGE: https://www.pexels.com/photo/photo-of-deep-sky-object-816608/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels
*/


body {
    background-image: url("./images/pexels-alex-andrews-816608.jpg");
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
    color: white;
    background-color: darkslategrey;
    height: auto;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 25px;
    flex-direction: column;
}

.container {
    overflow: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.link {
    text-decoration: none;
}

.repo {
    overflow: auto;
    text-align: center;
}

#profilePicture {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("./images/Kieran-Stomberg.jpg");
    background-size: cover;
    /* if you need a good laugh:
    background-size: auto; */
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    justify-content: center;
    
}

#linkedIn {
    margin-right: 25px;
}

#gitHub {
    margin-left: 25px;
}